---
layout: default
section_id: home
slides:
  - bg: images/HG/3.jpg
    small_title:
      klass: bottom-to-top
      text: Welcome to
    title:
      klass: bottom-to-top
      text: Rubber Duck Consulting
    buttons:
      klass: bottom-to-top
      items:
        - text: Learn More
          link_to: /#about

milestones:
  - icon: folder-open
    from: 0
    to: 69
    title: Projects Completed
  - icon: coffee
    from: 0
    to: 726
    title: Cups of coffee offered
  - icon: thumbs-up
    from: 0
    to: 59
    title: Happy clients
  - icon: file-text
    from: 0
    to: 21
    title: Articles Published

---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="four spacing"></div>

<div class='row' id="about">
  <div class='large-12 columns'>
    {% include section-header.html title="About" %}
    <div class='spacing'></div>
   <p>
      From QA consultancy services to automation training, Rubber Duck Consulting provides clients with the knowledge and tools that create value, build relationships, and grow revenue. We adapt to a variety of needs and goals across industries, providing quality assurance so our clients can truly transform and have the confidence to deliver quality software.
    </p>
    <div class='spacing'></div>
  </div>
</div>

<div class="spacing"></div>

<div class="row" id="more">
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Consulting' desc='We are able to offer one off or more regular consulting dependant on your needs.' icon_class='fa fa-comments-o' delay='0' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Training' desc='We offer a wide range of training and are able to tailor this to your requirements. We can cover a wide range of topics from accessibility to building a fully functioning test automation framework.' icon_class='fa fa-paper-plane-o' delay='200' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Speaking' desc='Intested in having us speak at one of your events? We are able to speak about all things testing. Our experienced team have spoken all around Europe and in the USA.' icon_class='fa fa-tablet' delay='400' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-3 large-3 columns">
    {% include icon-text.html title='Other' desc='Want to discuss something which is not listed on this site? Please contact us, we would love to hear more.' icon_class='fa fa-comments-o' delay='600' shape_class='icon-text-circle' %}
  </div>
</div>

<div class="spacing"></div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Recent Work" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='spacing'></div>
</div>

{% include our-customers.html %}


<div class='full no-padding' style='background: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Like what you see here?</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='contact.html'>Get in touch</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>
