---
layout: default
title: Portfolio
section_id: portfolio
works:
  - image: images/portfolio/dvla.png
    title: DVLA
    link_to: #
    klass: consultancy
    desc: QA Consultancy
  - image: images/@stock/work-2.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: web-design print
    desc: Design &amp; Development
  - image: images/@stock/work-3.jpg
    title: Beautiful Girl
    link_to: portfolio-item.html
    klass: brand
    desc: Design &amp; Development
---


<div class='full parallax' style='background-image: url(/images/HG/4.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Work" tagline="What we've done" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='consultancy' href='#'>Consultancy</a>
          </li>
          <li>
            <a data-cat='training' href='#'>Training</a>
          </li>
          <li>
            <a data-cat='speaking' href='#'>Speaking</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>