---
layout: default
title: Portfolio
section_id: portfolio
works:
  - image: images/portfolio/wad.png
    title: We Are Developers, Vienna
    link_to: https://events.wearedevelopers.com/world-congress/recap/
    klass: speaking
    desc: Speaking Engagement
  - image: images/portfolio/vox.png
    title: Voxxed Thessaloniki
    link_to: https://voxxeddays.com/thessaloniki/
    klass: speaking
    desc: Speaking Engagement
  - image: images/portfolio/seleniumconf.png
    title: SeleniumConf, Chicago
    link_to: https://www.seleniumconf.us/
    klass: speaking
    desc: Speaking Engagement
  - image: images/portfolio/notbinary.png
    title: Notbinary
    link_to: https://notbinary.co.uk/
    klass: consultancy
    desc: QA Consultancy
  - image: images/portfolio/dvla.png
    title: DVLA
    link_to: https://www.gov.uk/government/organisations/driver-and-vehicle-licensing-agency
    klass: consultancy
    desc: QA Consultancy
  - image: images/portfolio/mot.png
    title: Ministry of Testing
    link_to: https://www.ministryoftesting.com/courses/a-software-tester-s-guide-to-chrome-devtools/
    klass: training
    desc: Ministry of Testing Dojo Online Course
  - image: images/portfolio/wjec.png
    title: WJEC (Welsh Joint Education Committee)
    link_to: https://www.wjec.co.uk/
    klass: consultancy
    desc: QA Consultancy
  - image: images/portfolio/ltg.png
    title: London Testers Gathering
    link_to: https://www.ministryoftesting.com/events/london-tester-gathering-workshops-2019
    klass: training
    desc: DevTools half day workshop
  - image: images/portfolio/turkish-istqb.png
    title: Test Istanbul
    link_to: https://testistanbul.org/testistanbul2019/
    klass: speaking
    desc: Keynote - Speaking Engagement
  - image: images/portfolio/wjec.png
    title: WJEC (Welsh Joint Education Committee)
    link_to: https://www.wjec.co.uk/
    klass: training
    desc: Test Automation training (Ruby)
  - image: images/portfolio/ee.png
    title: Equal Experts
    link_to: https://equalexperts.com/
    klass: consultancy
    desc: Associate
  - image: images/portfolio/hmrc.png
    title: HMRC
    link_to: https://www.gov.uk/government/organisations/hm-revenue-customs
    klass: consultancy
    desc: Test Consultancy
  - image: images/portfolio/mot.png
    title: Ministry of Testing
    link_to: https://www.ministryoftesting.com/
    klass: speaking
    desc: Speaking Engagement
  - image: images/portfolio/mrfc.png
    title: Morriston RFC
    link_to: https://www.mrfc.club/
    klass: digital
    desc: Website Development / Consultancy
---


<div class='full parallax' style='background-image: url(images/@stock/service-page-header.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Work" tagline="Some of the things we've done or are doing" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='consultancy' href='#'>Consultancy</a>
          </li>
          <li>
            <a data-cat='training' href='#'>Training</a>
          </li>
          <li>
            <a data-cat='speaking' href='#'>Speaking</a>
          </li>
          <li>
            <a data-cat='digital' href='#'>Digital Projects</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}' target="_blank">
              <img alt="Previous work" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>
