---
layout: default
title: Services
section_id: services
services_left:
  - icon: code
    title: DevTools for Testers
    desc:  Despite its name, DevTools isn’t just a tool for developers. DevTools contains many tools which can help you in your day to day testing of web applications. Whether you want to know how to put client validation to the test, gain a better understanding of how to identify and debug errors or just simply run audits on your web applications, then this course is for you.
    type: half day workshop 
    link: training-dev-tools.html
    linktext: View workshop
---

<div class='full parallax' style='background-image: url(images/@stock/service-page-header.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Training" tagline="Below you can view the current training we are able to offer" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      {% for service in page.services_left %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}} ({{service.type}})</h3>
            <p>{{service.desc}}</p>
            <p><a href="{{service.link}}">{{service.linktext}}</a></p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  
<div class='full no-padding' style='background: #fff'>
    <div class='two spacing'></div>
    <div class='mod modCallToAction'>
      <div class='row'>
        <div class='medium-9 large-9 columns'>
          <p>Want to discuss training which isn't listed above?</p>
        </div>
        <div class='medium-3 large-3 columns'>
          <a class='button' href='mailto:viv@rubberduckconsulting.co.uk'>Get in touch</a>
        </div>
      </div>
    </div>
    <div class='spacing'></div>
  </div>
</div>